@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@500&family=Space+Grotesk:wght@300..700&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  background: #05060f linear-gradient(0deg,rgba(216,236,248,.06),rgba(152,192,239,.06));
  display: grid;
  place-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.2;
  background-color: #dadada;
  color: #ddd;
}

ul {
  list-style: none;
}

.main {
  max-width: 75rem;
  padding: 3em 1.5em;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
  gap: 2rem;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  padding: 0 2rem;
  box-sizing: border-box;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  z-index: 5;
  font-size: var(--h);
}

.backdrop {
  width: 100%;
  height: 150%;
  position: absolute;
  z-index: 1;
  top: 0;
  opacity: 1;
  
/*  where the real magic happens  */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  
  background: rgba(225, 225, 225, 0.05);
  
  mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  inset: -1rem 0;
}


.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2c2c2c;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 1667;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 1667;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  cursor: pointer;
}

.cta:hover {
  background-color: #1a1a1a;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px #5562da;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.cta:active {
  transform: translateY(1px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #000000;
}

.field {
    margin-bottom: 0px;
  }
  
.field input {
    width: 100%;
  /* padding: 5px 10px; */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  outline: none;
  }
  
.field input::placeholder {
    color: #888;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  font-size: 1.1rem;

  }

  
  
.field input:focus {
    border-bottom-color: #888;
  }
  
  /* Overlay styling */
 
.forgot-password {
    margin: 10px 0; /* Adds space between the password field and the link */
}

.forgot-password-link {
    color: #fff; /* Set your preferred color */
    text-decoration: underline; /* Ensures the text is underlined */
    font-size: 0.9em; /* Slightly smaller text for the link */
    cursor: pointer;
    /* display: none; */
}

#linkanimation {
  text-decoration: none;
  text-decoration-color: none;
  color: white;
  position: relative;
}
#linkanimation::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FEFEFE;
  transform: scale(1,1);
  transition: background-color .5s ease-in-out;
  bottom: 0px;
}
#linkanimation:hover::before {
  animation: link ease 1s 1 300ms;
  transform-origin: right;  
}
@keyframes link {
  50%{
    transform: scaleX(0);
  }
  50.1% {
    transform: translateX(-100%) scalex( -0.01);   
  }
  100% {
    transform: translateX(-100%) scalex(-1);
  }
}

.forgot-password-link:hover {
    text-decoration: none; /* Remove underline on hover if desired */
}

.resend-otp {
  margin: 10px 0; /* Adds space between the password field and the link */
}

.resend-otp-link {
  color: #fff; /* Set your preferred color */
  text-decoration: underline; /* Ensures the text is underlined */
  font-size: 0.9em; /* Slightly smaller text for the link */
  cursor: pointer;
}

.resend-otp-link:hover {
  text-decoration: none; /* Remove underline on hover if desired */
}

.ca_c{
    text-align: justify;
}

.field-container {
    display: flex;
    gap: 10px; /* Adds space between the fields */
}

.field {
    flex: 1; /* Ensures both fields are of equal width */
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 85%;
  background: hsla(var(--hsl), 0.1);
  color :rgb(0, 0, 0)
  
}

.cards__card:hover .field input {
  --lightness: 85%;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #000000;
}
.cards__card:hover .forgot-password-link {
  color: #000; /* Change to your preferred color */
}

.cards__card:hover #linkanimation {
  color: #000; /* Change to your preferred color */
}

.cards__card:hover #linkanimation::before {
  background-color: #000; /* Change to your preferred color */
}

canvas#particleCanvas {
  position: absolute; pointer-events: none;
  animation: load 0.4s ease-in-out forwards;
  z-index: 1;
  width: 100%;
}

body.gold canvas {
  filter: drop-shadow(2em 4em 0px #d8bd10) drop-shadow(-8em -14em 0px #d8bd10);
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 35px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #5562da;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 15px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cards__card:first-child {
  
  /* Transition for transform only, preserves your existing transitions */
  transition: transform 0.5s ease, background 400ms ease; 
}

/* Faculty card styling */
#facultyDetailsCard {
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  
  /* Add transitions for animation properties only */
  transition: opacity 0.5s ease, transform 0.5s ease, 
              pointer-events 0s 0.5s, background 400ms ease;
}

/* When faculty mode is active */
.faculty-active #facultyDetailsCard {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  
  transition: opacity 0.5s ease, transform 0.5s ease, 
              pointer-events 0s, background 400ms ease;
}

/* Move first card when faculty is active */
.faculty-active .cards__card:first-child {
  transform: translateX(-20px); /* Move left slightly */
}
